<div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Hüseyin Kurban</a> @DateTime.Now.Year</p>
                <p>Distributed by <a href="#" target="_blank">Themewagon</a></p>
            </div>
        </div>