@model List<Article>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";

}

<div class="content">
    <div class="content-header text-center py-4">
        <h1 class="display-4">Yazılarım</h1>
    </div>

    <div class="row mb-4">
        <div class="col-12 text-end">
            <a href="#" class="btn btn-primary btn-lg">Yeni Yazı Girişi</a>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12 col-lg-12 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                            @item.Detail
                        </p>
                        <a href="#" class="btn btn-danger">Sil</a>
                        <a href="#" class="btn btn-warning">Güncelle</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
