@model List<Category>
@{
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-dark fw-bold">Kategori Yönetimi</h2>
       
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th class="fw-bold">#</th>
                    <th class="fw-bold">Kategori Adı</th>
                    <th class="fw-bold">Sil</th>
                    <th class="fw-bold">Güncelle</th>
                    <th class="fw-bold">Bloglar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="fw-bold text-dark">@item.CategoryId</td>
                        <td class="fw-bold text-dark">@item.CategoryName</td>
                        <td>
                            <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger btn-sm fw-bold">
                                Sil
                            </a>
                        </td>
                        <td>
                            <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success btn-sm fw-bold">
                                Güncelle
                            </a>
                        </td>
                        <td>
                            <a href="/Category/Blogs/@item.CategoryId" class="btn btn-warning btn-sm fw-bold">
                                Bloglar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Category/CreateCategory" class="btn btn-primary fw-bold">Yeni Kategori Ekle</a>
    </div>
  
</div>
