<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                @await Component.InvokeAsync("_HomePageLastThreeArticleComponentPartial")
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                @await Component.InvokeAsync("_HomePagePopulerArticlesComponentPartial")
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                @await Component.InvokeAsync("_HomePageCategoryListComponentPartial")<!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <div class="copyright">&copy; Blog. Design: <a href="#">Hüseyin Kurban</a></div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="dmtop"></div>