@model LoginViewModel
@{
    Layout = null;
}

<!-- Bootstrap 5 stil dosyasını ekleyin -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />

<div style="background-image: url('https://i.hizliresim.com/d8glp0i.jpg'); background-size: cover; background-position: center; height: 100vh;">
<div class="container d-flex justify-content-center align-items-center vh-100" >
    <div class="login-container p-5 shadow-sm rounded-4" style="background-color: #fff; max-width: 400px; width: 100%; opacity: 0.9;">
      @*   <div class="alert alert-info text-center mb-4">Giriş Ekranı</div> *@
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Kullanıcı Adınız</label>
                <input type="text" class="form-control" id="username" name="Username" asp-for="Username" required />
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Şifreniz</label>
                <input type="password" class="form-control" id="password" name="Password" asp-for="Password" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
        </form>
            <div class="mt-3 text-center">
                <span>Hesabınız yok mu? </span>
                <a href="/Register/Index" class="text-decoration-none">Kaydolun!</a>
            </div>
    </div>
</div>
</div>