@model Article

<section id="cta" class="section" style="
    background-image: url('@Model.MainImageUrl');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
 ">


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 align-self-center">
                <h2>@Model.Title</h2>
                <p class="lead">
                    @(Model.Detail.Length >= 100 ?
                        Model.Detail.Substring(0, 100) + "..." :
                        Model.Detail)
                </p>
                <a href="/Article/ArticleDetail/@Model.ArticleId" class="btn btn-primary">Yazıyı Oku</a>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="newsletter-widget text-center align-self-center">
                    <h3>Bugün Abone Olun!</h3>
                    <p>
                        Haftalık Bültenimize abone olun ve güncellemeleri e-posta yoluyla alın.
                    </p>
                    <form class="form-inline" method="post">
                        <input type="text" name="email" placeholder="Email Adresinizi Giriniz..." required class="form-control" />
                        <input type="submit" value="Üye Ol" class="btn btn-default btn-block" />
                    </form>
                </div><!-- end newsletter -->
            </div>
        </div>
    </div>
</section>
