@model Comment
@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<form method="post">
    <div class="container">
        <br /><br />
        <input type="hidden" asp-for="CommentId" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="ArticleId" />
        <input type="hidden" asp-for="AppUserId" />
        <label>Yorumunuz</label>
        <input type="text" asp-for="CommentDetail" class="form-control" />
        <br />
        <button class="btn btn-warning">Yorumu Güncelle</button>
    </div>
</form>

