<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Menü</li>

            <li>
                <a href="/Author/Profile/EditMyProfile" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Profilim</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList" aria-expanded="false">
                    <i class="icon icon-layout-25"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Author/Article/Index" aria-expanded="false">
                    <i class="icon icon-single-copy-06"></i><span class="nav-text">Yazılarım</span>
                </a>
            </li>
            <li>
                <a href="/Author/Comment/MyCommentList" aria-expanded="false">
                    <i class="icon-envelope-open"></i><span class="nav-text">Yorumlarım</span>
                </a>
            </li>
            <li>
                <a href="/HomePage/Index" aria-expanded="false">
                    <i class="icon icon-app-store"></i><span class="nav-text">Ana Sayfa</span>
                </a>
            </li>
            <li>
                <a href="/Author/Profile/LogOut" aria-expanded="false">
                    <i class="icon-key"></i><span class="nav-text">Çıkış</span>
                </a>
            </li>

        </ul>
    </div>
</div>
