<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Menü</li>

            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Profilim</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-list"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-pencil"></i><span class="nav-text">Yazılarım</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-speech"></i><span class="nav-text">Yorumlar</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-home"></i><span class="nav-text">Ana Sayfa</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-power"></i><span class="nav-text">Çıkış</span>
                </a>
            </li>

        </ul>
    </div>
</div>
